body {
    margin: 0;
    padding: 0;
    background: #0b0b0b;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

li {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;
    font-family: Source Sans Pro;
    font-weight: lighter;
}

.cool-link::after {
    content: '';
    height: 2px;
    display: block;
    width: 0;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}